<div *ngIf="producto"><div>Nombre:</div>
<div>{{producto.nombre}}</div>
<div>Codigo Productor:</div>
<div>{{producto.codigo_productor}}</div>
<div>Categoria:</div>
<div>{{producto.categoria}}</div>
<div>Precio:</div>
<div>{{producto.precio}}</div>
<div>Unidad:</div>
<div>{{producto.unidad}}</div>
<div>Descuento:</div>
<div>{{producto.descuento}}</div>
<div>Fecha:</div>
<div>{{producto.fecha}}</div>
<button (click)="modificarProducto(producto.nombre, producto.codigo_productor)"> Modificar Producto</button>
<button (click)="eliminarProducto(producto)"> Eliminar Producto</button>
</div>
