<div *ngIf="usuario">
<div>Nombre:{{usuario.nombre}}</div>
<div>Correo:{{usuario.correo}}</div>
<div>Celular:{{usuario.celular}}</div>
<div>DNI/RUC:{{usuario.dni_ruc}}</div>
<div>Tipo:{{usuario.tipo}}</div>
<div>Fecha:{{usuario.fecha}}</div>
<h1>Productos</h1>
    <div *ngFor="let producto of productos" >
        <div>Nombre:</div>
        <div>{{producto.nombre}}</div>
        <div>Codigo Productor:</div>
        <div>{{producto.codigo_productor}}</div>
        <div>Categoria:</div>
        <div>{{producto.categoria}}</div>
        <div>Precio:</div>
        <div>{{producto.precio}}</div>
        <div>Unidad:</div>
        <div>{{producto.unidad}}</div>
        <div>Descuento:</div>
        <div>{{producto.descuento}}</div>
        <div>Fecha:</div>
        <div>{{producto.fecha}}</div>
        <button (click)="verProducto(producto.nombre, producto.codigo_productor)">Ver Producto</button>
        <button *ngIf ="usuarioIngreso()" (click)="agregarCarrito(producto)">Agregar al carrito</button>
    </div>
</div>
